@page "/developer"

<HeaderComponent />

<div class="wrapper">
    <div class="row">
        <div class="col text-left text-light pages mb-2">
            <a href="/" class="link">WODCAT</a> &rarr; Developer
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <h1 class="text-light" style="font-size: 30px;">Developer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <img src="img/I.png" width="200" height="200"/>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col text-light">
                            <h1>Денис Кудрявов</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-light">
                            <h3>Kudr_jpq1@student.itstep.org</h3>
                            <h3>deniskudravov228@gmail.com</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="img/ITSTEP.png" style="width: 500px; height: 500px;"/>
        </div>
    </div>
</div>