<div class="exercises mb-3">
    <div class="row p-3">
        <div class="col">
            <a class="ArticleName" href="@_url">@Article.Name</a>
        </div>
    </div>
    @if (Article.Rating is not null)
    {
        <div class="row p-3 pt-0">
            <div class="col">
                <span class="greenCub" style="margin-left: 0">@Article.Rating / 10</span>
            </div>
        </div>
    }
    <div class="row p-3">
        <div class="col-3">
            <div class="ArticleImage" style="background-image: url(/@Image)"></div>
        </div>
        <div class="col-9">
            @Article.Description
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            @foreach (var item in ArticleType)
            {
                <span class="articlesType">@item&nbsp;&nbsp;</span>
            }
        </div>
    </div>
</div>