@page "/events/{EventId:int}/edit"

<HeaderComponent User="User"/>

<div class="row">
    <div class="col visualContainerAddEditEvent">
        <button class="gymList" @onclick="BackToEventsList">Все соревнования</button>
        <div class="AddHall">
            <h1 class="h1Add">Редактировать мероприятие</h1>
            <h3 class="h3Add">Здесь вы можете изменить информацию о вашем событии</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col wrapperEvents">
        <AddEditEventComponent Event="Event" EventEmblem="EventEmblem" Halls="Halls" Workouts="Workouts" HallEmblem="HallEmblem" Add="false" Edit="true" EventId="EventId"/>
    </div>
</div>