@page "/events/{EventId:int}"

<HeaderComponent />

@if (IsLoginUser)
{
    @if (User.EventId == Event.Id)
    {
        @if (DateTime.Now >= Event.StartDate && DateTime.Now <= Event.EndDate)
        {
            <BeginEventTaskComponent Event="Event"/>
        }
    }
    else
    {
        <RegisterEventComponent Event="Event" EventId="EventId"/>
    }
}
else
{
    <RegisterEventComponent Event="Event" EventId="EventId"/>
}

<div class="row">
    <div class="col p-3 footerEvent" style="top: 695px;">
        <div class="row">
            <div class="col text-center">
                <span class="programslink" @onclick="DisplayEvents">О СОБЫТИИ</span>
                <span class="programslink" @onclick="DisplayEventsWorkoutsExercises">ЗАДАНИЕ</span>
                <span class="programslink" @onclick="DisplayUsers">УЧАСТНИКОВ</span>
            </div>
        </div>
        @if (DisplayEvent)
        {
            <AboutEventComponent Event="Event"/>
        }
        else if (DisplayEventWorkoutExercise)
        {
            <IndividualWorkoutsComponent Workout="Workout" />
        }
        else if (DisplayUser)
        {
            <ListEventsUsersComponent ListOfItems="Users"/>
        }
    </div>
</div>