@page "/events/{EventId:int}"

<HeaderComponent User="User"/>

@*@if (IsLoginUser)
{
    @if (User!.EventId == Event!.Id)
    {
        @if (DateTime.Now >= Event.StartDate && DateTime.Now <= Event.EndDate)
        {
            <BeginEventTaskComponent Event="Event"/>
        }
        else
        {
            <RegisterEventComponent Event="Event" EventId="EventId"/>
        }
    }
    else
    {
        <RegisterEventComponent Event="Event" EventId="EventId"/>
    }
}
else
{
    <RegisterEventComponent Event="Event" EventId="EventId"/>
}*@

<div class="row">
    <div class="col p-3 footerEvent" style="top: 695px;">
        <div class="row">
            <div class="col text-center">
                <span class="programslink" @onclick="DisplayEvents">О СОБЫТИИ</span>
                <span class="programslink" @onclick="DisplayEventsWorkoutsExercises">ЗАДАНИЕ</span>
                <span class="programslink" @onclick="DisplayUsers">УЧАСТНИКОВ</span>
                <span class="programslink" @onclick="DisplayAwards">НАГРАДЫ</span>
            </div>
        </div>
        @if (DisplayEvent)
        {
            <AboutEventComponent Event="Event"/>
        }
        @if (DisplayEventWorkoutExercise)
        {
            <IndividualWorkoutsComponent Workout="Workout" />
        }
        @*@if (DisplayUser)
        {
            <ListEventsUsersComponent ListOfItems="Users" EventId="EventId"/>
        }
        @if (DisplayAward)
        {
            <AwardsComponent ListOfItems="EventTimeUsers" EventId="EventId"/>
        }*@
    </div>
</div>