@page "/events/{EventId:int}"

<HeaderComponent />

<div class="wrapperId">
    <div class="row">
        <div class="col">
            <h5 class="text-white">Details address.</h5>
        </div>
    </div>
</div>