@if (DisplayEditDeleteResult)
{
    @if (DisplayEditResult)
    {
        <div class="modal-backdrop show"></div>

        <div class="modal fade show" 
             id="exampleModal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="exampleModal"
             aria-hidden="true"
             style="display: block">
    
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content EditDeleteContent">
                    <div class="modal-header" style="border: 0;">
                        <h5 class="modal-title">@User.Name</h5>
                        <button class="close" @onclick="OnCancel" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer" style="border: 0;">
                        <button class="btn btn-danger" @onclick="OnDelete" type="button">Удалить</button>
                        <button class="btn btn-info" @onclick="() => DisplayEditResult = !DisplayEditResult" type="button">Редактировать</button>
                        <button class="btn btn-primary" @onclick="OnCancel" type="button">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal-backdrop show"></div>

        <div class="modal fade show" 
             id="exampleModal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="exampleModal"
             aria-hidden="true"
             style="display: block">
    
            <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px;" role="document">
                <div class="modal-content editModalContent">
                    <div class="modal-header" style="border: 0;">
                        <h5 class="modal-title">Редактирование</h5>
                        <button class="close" @onclick="OnCancelEdit" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="border: 0;">
                        <EditForm Model="@_editResultWorkout">
                            <div class="row">
                                <div class="col-6">
                                    <i class="fa-solid fa-stopwatch" style="font-size: 25px;"></i>
                                    <span class="mr-2" style="font-size: 20px;">Время</span>
                                    <InputText
                                        @bind-Value="_editResultWorkout.Minutes"
                                        class="formResult mb-2 mr-2"
                                        id="minutes"
                                        type="number"
                                        min="0" max="60"
                                        placeholder="min"/>
                                    <InputText
                                        @bind-Value="_editResultWorkout.Seconds"
                                        class="formResult mb-2 mr-2"
                                        id="seconds"
                                        type="number"
                                        min="0" max="60"
                                        placeholder="sec"/>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="rating-area">
                                                <span style="font-size: 20px;">Увлекательность</span>
                                                <input
                                                    type="checkbox"
                                                    id="starFascination-6"
                                                    @bind="_fiveFascination"/>
                                                <label for="starFascination-6"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starFascination-7"
                                                    @bind="_fourFascination">
                                                <label for="starFascination-7"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starFascination-8"
                                                    @bind="_threeFascination">
                                                <label for="starFascination-8"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starFascination-9"
                                                    @bind="_twoFascination">
                                                <label for="starFascination-9"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starFascination-10"
                                                    @bind="_oneFascination">
                                                <label for="starFascination-10"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <span class="mr-2" style="font-size: 20px;">Повторений</span>
                                    <InputNumber
                                        @bind-Value="_editResultWorkout.Repeat"
                                        class="formResult mb-2 mr-2"
                                        id="repeat"
                                        type="number"
                                        min="0"/>
                                    <InputDate
                                        @bind-Value="_editResultWorkout.PublishDate"
                                        class="formResult mb-2 mr-2"
                                        id="publishDate"
                                        type="date"/>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="rating-area text-center">
                                                <span style="font-size: 20px;">Нагрузка</span>
                                                <input
                                                    type="checkbox"
                                                    id="starLoad-6"
                                                    @bind="_fiveLoad"/>
                                                <label for="starLoad-6"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starLoad-7"
                                                    @bind="_fourLoad">
                                                <label for="starLoad-7"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starLoad-8"
                                                    @bind="_threeLoad">
                                                <label for="starLoad-8"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starLoad-9"
                                                    @bind="_twoLoad">
                                                <label for="starLoad-9"></label>
                                                <input
                                                    type="checkbox"
                                                    id="starLoad-10"
                                                    @bind="_oneLoad">
                                                <label for="starLoad-10"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <textarea 
                                        placeholder="Напишите комментарий к результату" 
                                        class="textarea" 
                                        @bind="_editResultWorkout.Comment">
                                        
                                    </textarea>
                                </div>
                            </div><br/>
                            <button 
                                class="btn btn-info" 
                                @onclick="OnEdit" 
                                type="submit">Редактировать</button>
                            <button 
                                class="btn btn-primary" 
                                @onclick="OnCancelEdit" 
                                type="button">Отмена</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
}