@if (User is not null)
{
    <h2 class="text-white">@ResultWorkouts.Count() результатов</h2>
    <hr class="hr"/>
    <table class="table table-borderless">
        <thead>
        <tr class="tableheader">
            <th scope="col">Имя</th>
            <th scope="col">Время</th>
            <th scope="col">Повт.</th>
            <th scope="col">Страна</th>
            <th scope="col">Город</th>
            <th scope="col">Дата</th>
            <th scope="col">Увлекательность</th>
            <th scope="col">Нагрузка</th>
            <th scope="col">Коментарий</th>
        </tr>
        </thead>
        @foreach (var item in ResultWorkouts)
        {
            if (item.UserId == User.Id)
            {
                <tbody @onclick="IsDisplayDialog">
                    <tr class="displayDialog" @onclick="() => PostId(item.Id)">
                        <IndividualResultWorkouts ResultWorkout="item"/>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    <tr class="displayDialog">
                        <IndividualResultWorkouts ResultWorkout="item"/>
                    </tr>
                </tbody>
            }
        }
    </table>
}