@if (!ListOfItems.Any())
{
    <div class="row text-center">
        <div class="col">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/1534200/header.jpg?t=1616065824" height="500"/>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in ListOfItems)
        {
            <IndividualWorkoutsComponent Workout="item" />
        }
    </div>
}