@foreach (var item in ListOfItems)
{
    <div class="row">
        <div class="col">
            <IndividualWorkoutsExercisesComponent 
                WorkoutsExercises="item" 
                IsLink="IsLink"
                Color="@Color"/>
        </div>
    </div>
}