<div class="work p-2">
    <div class="row">
        <div class="col text-center mb-2">
            <a href="/workouts/@Workout!.Id" class="newLink">@Workout!.Name</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <span class="exercisesInWorkouts">На время:</span><br/>
            <ListWorkoutsExercisesComponent 
                ListOfItems="WorkoutsExercises"
                IsLink="true"
                Color="#fff"/>
        </div>
    </div>
</div>