@if (IsEndOrNot)
{
    <div class="work p-2">
        <div class="row">
            <div class="col text-center mb-2 text-light">
                <h1>Вы закончили программу</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" @onclick="FinishProgram">Получить награду</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col text-center" style="color: #bdc1c6;">
            <h1>Ты не тренируешься по этой программе!</h1>
        </div>
    </div>
}