<div class="exercises mb-3">
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col">
            <a class="Name" href="@_url">@Programs.Name</a>
        </div>
    </div>

    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col-6">
            @Programs.Description
        </div>
        <div class="col-6">
            <iframe
                width="600"
                height="300"
                src="@Programs.Image"
                frameborder="0"
                allow="accelerometer;autoplay;clipboard-write;encrypted-media;gyroscope;picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>