<div class="row">
    <div class="col p-0">
        <h1 class="text-light" style="font-size: 30px;">Программы тренировок</h1>
    </div>
</div>
<div class="row">
    <div class="col text-right text-muted mb-2 p-0">
        <i class="fa-solid fa-info info" @onclick="() => IsDisplay = !IsDisplay"></i>
    </div>
</div>
@if (IsDisplay)
{
    <div class="row">
        <div class="col p-0 mb-3">
            <div class="exercises p-3">
                <button class="btn hide mb-2" @onclick="() => IsDisplay = !IsDisplay">Скрыть</button>
                <p><strong>Программа тренировок</strong> – это движение, систематизированный, последовательный набор тренировок (список тренировок), рассчитанный на определенную цель и определённый уровень спортсмена (новичок или опытный). В зависимости от направления фитнеса или спорта, план тренировок будет отличаться как по содержанию и разнообразию упражнений, так и их цикличности.</p>
                <p>При составлении Кроссфит программы тренировок, предлагается соблюдение рекомендаций Crossfit Inc. (crossfit guide level 1), что обеспечит сбалансированную нагрузку на весь организм и обеспечивает оптимальное время на отдых и восстановление. Кроссфит программа - последовательность кроссфит комплексов (WOD) составленная в особом порядке с учетом поставленных целей, правил и здравого смысла.</p>
                <p>Результат занятий по выбранному плану тренировок (набор мышечной массы, сжигание жира, похудение, ОФП) будет, зависит от регулярных посещений, системного и сбалансированного плана тренировок, учета индивидуальных физических, психологических особенностей и Вашего питания!</p>
                <p><strong>Программы тренировок</strong>для мужчин и женщин. Кроссфит программы тренировок для мужчин и женщин по своей структуре унифицированы и одинаково структурированы. В кроссфит тренировках женщины выполняют все те же упражнения и повторения, что и мужчины, но используют меньшие веса.</p>
            </div>
        </div>
    </div>
}