.editModalContent, .EditDeleteContent, .StartDialogContent {background-color: #424242;}
.StartDialog {
    max-width: 100%;
    margin: 0;
}
.StartDialogContent {height: 1000px;}
.time {
    color: #4caf50;
    font-size: 150px;
}
.timerInfo {
    color: #fff;
    font-size: 40px;
}
.button {
    color: #fff;
    box-shadow: 0 3px 1px -2px #060606, 0 2px 2px #060606, 0 1px 5px #060606;
    border-radius: 5px;
    border: 0;
}
.button:hover{ color: white;}
.close, .close:hover {color: red;}
.auth {top: 95px;}
.finger {
    cursor: pointer;
    display: block;
}
.fingerMore {
    background: #161521;
    color: gray;
    border-color: #161521;
    width: 70px;
    cursor: pointer;
}
.fingerMoreProfile {
    background: #161521;
    color: gray;
    border-color: #161521;
    width: 40px;
    cursor: pointer;
}
.fingerFilter {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.fingerFilter:hover {border-color: white;}
.filterHalls {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.info:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.hide {
    background-color: #424242;
    color: #2196f3;
    border: 1px solid grey;
}
.hide:hover {
    color: #2196f3;
    cursor: pointer;
}
.profile {
    background-color: #161521;
    color: gray;
}
.actions {
    background-color: #2a2b3c;
    color: gray;
}
.actionsContent, .actionsSlash {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff9;
}
.actionsContent:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.actionsSlash { margin: 0 10px 0 10px; }
.exercises, .exercisesId, .workouts, .workoutsId, .halls {
    background-color: #424242;
    width: 100%;
    border-radius: 5px;
    color: #bdc1c6;
}
.exercisesId {height: 100%;}
.workoutsId {
    height: 100%;
}
.workouts:hover {background-color: black;}
.workoutsTimeId {
    color: #a3a3a3;
}
.Name {
    width: 200px;
    font-size: 1.75rem;
    color: #8ab4f8;
}
.Name:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.NameId {
    width: 200px;
    color: white;
    font-size: 1.5rem;
}
.cub, .cubId, .greenCub {
    color: white;
    background-color: #8ab4f8;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0.3em 0.7em 0.3em;
}
.greenCub {background-color: #4caf50;}
.wrapper, .wrapperId, wrapperWork {
    background-color: #202124;
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
}
.wrapper {
    padding-left: 100px;
    padding-right: 100px;
}
.wrapperId {
    padding-left: 20px;
    padding-right: 20px;
}
.wrapperWork:hover { background-color: black;}
.header {
    position: fixed;
    z-index: 1;
    left: 0;
    padding: 0;
}
.createHall {
    background-color: #2196f3;
    font-weight: bold;
}
.pages {margin-top: 20px;}
.link {color: #8ab4f8;}
.link:hover {
    cursor: pointer;
    color: #8ab4f8;
}
.hr { background-color: white;}
.full { color: #bdc1c6;}
.home{ cursor: pointer;}
.bold{ font-weight: bolder;}
.exercisesInWorkouts {color: white;}
.filterWorkouts {color: #bdc1c6;}
.filterWorkouts:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.filterWorkoutsBlock {
    position: fixed;
    right: 0;
    background-color: #424242;
    width: 400px;
    z-index: 2;
    height: 100%;
    margin-right: 0;
    padding: 10px;
    border: 1px solid black;
}
.filterWorkoutsComponent {
    position: absolute;
    margin-bottom: 50px;
    display: block;
    color: #bdc1c6;
    width: 100%;
    height: 100%;
}
.select {
    color: lightgrey;
    cursor: pointer;
    background: #424242;
    border-color: #424242;
    border-bottom-color: lightgrey;
}
.select::placeholder {color: lightgrey;}
.select:focus {
    background-color: #424242;
    background: #424242;
    color: lightgrey;
}
.formResult {
    color: lightgrey;
    cursor: pointer;
    border: 0;
    background: #424242;
    border-bottom: 1px solid lightgrey;
    width: 150px;
}
.formResult::placeholder {color: lightgrey;}
.addResult {color: white;}
.textarea {
    width: 100%;
    background: #424242;
    border: 0;
    border-bottom: 1px solid lightgrey;
    min-height: 25px;
    color: white;
}
.textarea::placeholder {color: lightgrey;}
.displayDialog, .tableheader { color: #bdc1c6; }
.displayDialog:hover {
    background-color: black;
    cursor: pointer;
}