.editModalContent, 
.EditDeleteContent, 
.StartDialogContent, 
.formAddHall {background-color: #424242;}
.StartDialog {
    max-width: 100%;
    margin: 0;
}
a {cursor: pointer;}
.gymList {
    position: absolute;
    top: 120px;
    left: 40px;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    line-height: 18px;
    color: #e8eaed;
    background-color: #8ab4f8;
}
.StartDialogContent {height: 1000px;}
.time {
    color: #4caf50;
    font-size: 150px;
}
.timerInfo {
    color: #fff;
    font-size: 40px;
}
.button {
    color: #fff;
    box-shadow: 0 3px 1px -2px #060606, 0 2px 2px #060606, 0 1px 5px #060606;
    border-radius: 5px;
    border: 0;
}
.button:hover{ color: white;}
.close, .close:hover, .selectedTypeClose:hover {color: red;}
.selectedTypeClose {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #cc0000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: #424242;
    border: 0;
}
.auth {top: 95px;}
.finger {
    cursor: pointer;
    display: block;
}
.fingerMore {
    background: #161521;
    color: gray;
    border-color: #161521;
    width: 70px;
    cursor: pointer;
}
.fingerMoreProfile {
    background: #161521;
    color: gray;
    border-color: #161521;
    width: 40px;
    cursor: pointer;
}
.fingerFilter {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.fingerFilter:hover {border-color: white;}
.filterHalls {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.halls { width: 1311px !important;}
.info:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.hide {
    background-color: #424242;
    color: #2196f3;
    border: 1px solid grey;
}
.hide:hover {
    color: #2196f3;
    cursor: pointer;
}
.profile {
    background-color: #161521;
    color: gray;
}
.actions {
    background-color: #2a2b3c;
    color: gray;
}
.actionsContent, .actionsSlash {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff80;
}
.actionsContent:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.actionsSlash { margin: 0 10px 0 10px; }
.exercises, .exercisesId, .workouts, .workoutsId, .halls {
    background-color: #424242;
    width: 100%;
    border-radius: 5px;
    color: #bdc1c6;
}
.exercisesId {height: 100%;}
.workoutsId {
    height: 100%;
}
.workouts:hover {background-color: black;}
.workoutsTimeId {
    color: #a3a3a3;
}
.Name {
    width: 200px;
    font-size: 1.75rem;
    color: #8ab4f8;
}
.Name:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.NameId {
    width: 200px;
    color: white;
    font-size: 1.5rem;
}
.cub, .cubId, .greenCub {
    color: white;
    background-color: #8ab4f8;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0.3em 0.7em 0.3em;
}
.greenCub {background-color: #4caf50;}
.wrapper, .wrapperId, .wrapperHalls{
    background-color: #202124;
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
}
.wrapper {
    padding-left: 150px;
    padding-right: 150px;
}
.wrapperHalls {
    top: 395px;
    padding-left: 150px;
    padding-right: 150px;
}
.wrapperId {
    padding-left: 20px;
    padding-right: 20px;
}
.wrapperWork:hover { background-color: black;}
.header {
    position: fixed;
    z-index: 500;
    left: 0;
    padding: 0;
}
.createHall {
    background-color: #2196f3;
    font-weight: bold;
}
.pages {margin-top: 20px;}
.link {color: #8ab4f8;}
.link:hover {
    cursor: pointer;
    color: #8ab4f8;
}
.hr { background-color: white;}
.full { color: #bdc1c6;}
.home{ cursor: pointer;}
.bold{ font-weight: bolder;}
.exercisesInWorkouts, .mainInfoAboutHall {color: white;}
.filterWorkouts {color: #bdc1c6;}
.filterWorkouts:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.filterWorkoutsBlock {
    position: fixed;
    right: 0;
    background-color: #424242;
    width: 400px;
    z-index: 2;
    height: 100%;
    margin-right: 0;
    padding: 10px;
    border: 1px solid black;
}
.filterWorkoutsComponent {
    position: absolute;
    margin-bottom: 50px;
    display: block;
    color: #bdc1c6;
    width: 100%;
    height: 100%;
}
.select {
    color: lightgrey;
    cursor: pointer;
    background: #424242;
    border-color: #424242;
    border-bottom-color: lightgrey;
}
.select::placeholder {color: lightgrey;}
.select:focus {
    background-color: #424242;
    background: #424242;
    color: lightgrey;
}
.formResult, .selectedFormResult {
    color: lightgrey;
    cursor: pointer;
    border: 0;
    background: #424242;
    border-bottom: 1px solid lightgrey;
    width: 150px;
}
.formResult {width: 150px;}
.formResult::placeholder, .foo, .selectedFormResult::placeholder {color: lightgrey;}
.selectedFormResult {width: 100%;}
.addResult {color: white;}
.textarea {
    width: 100%;
    background: #424242;
    border: 0;
    border-bottom: 1px solid lightgrey;
    min-height: 25px;
    color: white;
}
.textarea::placeholder {color: lightgrey;}
.displayDialog, .tableheader { color: #bdc1c6; }
.displayDialog:hover {
    background-color: black;
    cursor: pointer;
}
.visualContainer {
    background-image: url("/img/addgym-bg.jpg");
    min-height: 300px;
    justify-content: center;
    background-size: 100%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0;
    top: 95px;
}
.visualContainerId {
    background-image: url("/img/gym_cover_def.jpg");
    min-height: 600px;
    justify-content: center;
    background-size: 100%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0;
    top: 95px;
}
.footerHall {
    background-color: #424242;
    justify-content: center;
    background-size: 100%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0;
}
.loginTop {top: 790px;}
.notLoginTop {top: 695px;}
.AddHall {
    color: #e8eaed;
    text-align: center;
    margin-top: 75px;
}
.HallId {
    color: #e8eaed;
    text-align: center;
    background-color: #dededee6;
    margin: 15px 300px;
    border-radius: 5px;
    padding: 30px;
}
.footerLocation {
    color: #e8eaed;
    text-align: center;
    margin: 15px 300px;
    border-radius: 5px;
    padding: 30px;
}
.location {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #8ab4f8;
    font-weight: bold;
}
.h1Add {
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
}
.h1Id {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: #8ab4f8;
    text-transform: uppercase;
}
.h3Add {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}
.countAthletes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    background-color: #424242;
}
.athletes {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #424242;
}
.joinHall, .exitHall {
    color: #424242;
    font-size: 20px;
    padding: 22px 30px;
    margin: 0 auto;
    border-radius: 5px;
    border: 0;
    color: white;
}
.exitHall:hover { background-color: red;}
.joinHall:hover {background-color: blue;}
.joinHall {background-color: #2196f3;}
.exitHall {background-color: #ff0036;}