.editModalContent,
.EditDeleteContent,
.StartDialogContent,
.formAddEditHall, 
.formAddEditArticle, 
.formAddEditEvent {background-color: #424242;}
.StartDialog {
    max-width: 100%;
    margin: 0;
}
a {cursor: pointer;}
.work {
    border: 1px solid grey;
    border-radius: 5px;
}
.gymList {
    position: absolute;
    top: 120px;
    left: 40px;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    line-height: 18px;
    color: #e8eaed;
    background-color: #8ab4f8;
}
.StartDialogContent {height: 1000px;}
.time {
    color: #4caf50;
    font-size: 150px;
}
.timerInfo {
    color: #fff;
    font-size: 30px;
}
.button {
    color: #fff;
    box-shadow: 0 3px 1px -2px #060606, 0 2px 2px #060606, 0 1px 5px #060606;
    border-radius: 5px;
    border: 0;
}
.button:hover{ color: white;}
.close, .close:hover, .selectedTypeClose:hover {color: red;}
.selectedTypeClose {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #cc0000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: #424242;
    border: 0;
}
.auth {top: 95px;}
.fingerMore {
    background: #161521;
    color: gray;
    border-color: #161521;
    cursor: pointer;
    text-align: center;
    appearance: none;
}
.fingerMoreProfile {
    background: #161521;
    color: gray;
    text-align: center;
    border-color: #161521;
    cursor: pointer;
    appearance: none;
}
.fingerFilter {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.fingerFilter:hover {border-color: white;}
.filterHalls {
    width: 100%;
    border-radius: 0.25rem;
    background: #202124;
    color: #bdc1c6;
    border-color: #bdc1c6;
    cursor: pointer;
}
.filterArticles {
    cursor: pointer;
    background-color: #202124;
    padding: 0 16px;
    border: 1px solid black;
    color: #e8eaed;
    border-radius: 5px;
}
.info:hover, .item:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.hide {
    background-color: #424242;
    color: #2196f3;
    border: 1px solid grey;
}
.hide:hover {
    color: #2196f3;
    cursor: pointer;
}
.profile {
    background-color: #161521;
    color: gray;
}
.actions {
    background-color: #2a2b3c;
    color: gray;
}
.actionsContent, .actionsSlash {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff80;
}
.actionsContent:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.actionsSlash { margin: 0 10px 0 10px; }
.exercises, .exercisesId, .workouts, .workoutsId, .halls, .programs, .articles, .events {
    background-color: #424242;
    width: 100%;
    border-radius: 5px;
    color: #bdc1c6;
}
.events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background-size: 100%;
    padding: 0;
    z-index: 2;
}
.exercisesId {height: 100%;}
.workoutsId {height: 100%;}
.workouts:hover {background-color: black;}
.workoutsTimeId, .articlesType {color: #a3a3a3;}
.ArticleName {
    width: 200px;
    font-weight: bold;
    color: #8ab4f8;
    font-size: 32px;
}
.ArticleName:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.Name {
    width: 200px;
    font-size: 1.75rem;
    color: #8ab4f8;
}
.Name:hover {
    color: #8ab4f8;
    text-decoration: none;
}
.NameId {
    width: 200px;
    color: white;
    font-size: 1.5rem;
}
.cub, .cubId, .greenCub {
    color: white;
    background-color: #8ab4f8;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0.3em 0.7em 0.3em;
}
.greenCub {background-color: #4caf50;}
.wrapper, .wrapperId, .wrapperHalls, .wrapperArticles, .wrapperEvents {
    background-color: #202124;
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
}
.newWrapper {
    background-color: #202124;
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
}
.wrapper {
    padding-left: 150px;
    padding-right: 150px;
}
.wrapperHalls, .wrapperArticles, .wrapperEvents {
    top: 395px;
    padding-left: 150px;
    padding-right: 150px;
}
.wrapperId {
    padding-left: 20px;
    padding-right: 20px;
}
.wrapperWork:hover { background-color: black;}
.header {
    position: fixed;
    z-index: 500;
    left: 0;
    padding: 0;
}
.createHall, .createArticle {
    background-color: #2196f3;
    font-weight: bold;
}
.pages {margin-top: 20px;}
.link, .mainLink {color: #8ab4f8;}
.link:hover {
    cursor: pointer;
    color: #8ab4f8;
}
.programslink {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 10px;
    color: #bdc1c6;
}
.programslink:hover {
    cursor: pointer;
    color: #bdc1c6;
    text-decoration: none;
    color: #8ab4f8;
}
.mainLink:hover {
    cursor: pointer;
    color: #8ab4f8;
    text-decoration: none;
}
.newLink {
    width: 200px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
.newLink:hover {
    text-decoration: none;
    cursor: pointer;
    color: #8ab4f8;
}
.authButton {
    background-color: #4caf50;
    color: #e8eaed;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 700;
    line-height: 18px;
    padding: 14px 22px;
    margin: 0;
    min-width: 70px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
}
.hr { background-color: white;}
.full { color: #bdc1c6;}
.home { cursor: pointer;}
.bold{ font-weight: bolder;}
.exercisesInWorkouts,
.mainInfoAboutHall,
.mainInfoAboutArticle,
.mainInfoAboutEvent {color: white;}
.filterWorkouts {color: #bdc1c6;}
.filterWorkouts:hover {
    color: #8ab4f8;
    cursor: pointer;
}
.question, .answer {
    background-color: #424242;
    width: 100%;
    padding: 10px;
    color: #bdc1c6;
}
.question:hover {
    background-color: black;
    cursor: pointer;
}
.answer {
    background-color: #3b5c3b;
    width: 100%;
    padding: 10px;
    color: white;
}
.filterWorkoutsBlock {
    position: fixed;
    right: 0;
    background-color: #403e3e;
    width: 400px;
    z-index: 2;
    height: 100%;
    margin-right: 0;
    padding: 10px;
}
.filterWorkoutsComponent {
    position: absolute;
    margin-bottom: 50px;
    display: block;
    color: #bdc1c6;
    width: 100%;
    height: 100%;
}
.selectWorkout {
    color: lightgrey;
    cursor: pointer;
    background: #403e3e;
    border-color: #403e3e;
    border-bottom-color: lightgrey;
}
.selectWorkout::placeholder {color: lightgrey;}
.select {
    color: lightgrey;
    cursor: pointer;
    background: #424242;
    border-color: #424242;
    border-bottom-color: lightgrey;
}
.select::placeholder {color: lightgrey;}
.select:focus {
    background-color: #424242;
    background: #424242;
    color: lightgrey;
}
.selected {
    z-index: 60;
    color: #d3d3d3;
    background-color: #424242;
    border: 1px solid lightgrey;
    padding: 5px;
}
.formResult, .selectedFormResult {
    color: lightgrey;
    cursor: pointer;
    border: 0;
    background: #424242;
    border-bottom: 1px solid lightgrey;
    width: 150px;
}
.formResult {width: 150px;}
.formResult::placeholder, .foo, .selectedFormResult::placeholder {color: lightgrey;}
.selectedFormResult {width: 100%;}
.addResult {color: white;}
.textarea {
    width: 100%;
    background: #424242;
    border: 0;
    border-bottom: 1px solid lightgrey;
    min-height: 25px;
    color: white;
}
.textarea::placeholder {color: lightgrey;}
.displayDialog, .tableheader { color: #bdc1c6; }
.displayDialog:hover {
    background-color: black;
    cursor: pointer;
}
.ArticleImage {
    min-height: 300px;
    min-width: 300px;
    background-size: 100%;
}
.visualContainerAddEditHall,
.visualContainerEditProfile,
.visualContainerHall,
.visualContainerProfile,
.loginContainer,
.visualContainerArticle,
.visualContainerAddEditEvent,
.visualContainerEvent {
    justify-content: center;
    background-size: 100%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0;
    top: 95px;
}
.visualContainerAddEditHall {
    background-image: url("/img/addgym-bg.jpg");
    min-height: 300px;
}
.visualContainerAddEditEvent {
    background-image: url("/img/addevent-bg.jpg");
    min-height: 300px;
}
.visualContainerEditProfile {
    background-image: url("/img/editProfile.jpg");
    min-height: 300px;
}
.visualContainerHall {
    background-image: url("/img/gym_cover_def.jpg");
    min-height: 600px;
}
.visualContainerProfile {
    min-height: 500px;
    background-image: url("/img/profileBackground.jpg");
}
.visualContainerArticle {
    background-image: url("/img/addarticle-bg.jpg");
    min-height: 300px;
}
.visualContainerEvent {
    min-height: 600px;
}
.loginContainer {
    min-height: 400px;
    background: linear-gradient(109deg,#3276e7,#4c9af7);
    z-index: 10;
    position: absolute;
}
.login {
    padding: 40px 50px;
    background-color: #424242;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    z-index: 30;
    margin-left: -200px;
    width: 400px;
}
.formLogin {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: 0;
}
.headerAuth {
    z-index: 10;
    position: absolute;
    top: 40%;
    text-align: center;
    left: 50%;
    margin-left: -200px;
}
.footerHall, .footerEvent {
    background-color: #424242;
    justify-content: center;
    background-size: 100%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0;
}
.loginTop {top: 790px;}
.notLoginTop {top: 695px;}
.userTop {
    top: 595px;
    background-color: #202124;
}
.AddHall {
    color: #e8eaed;
    text-align: center;
    margin-top: 75px;
}
.HallId, .ProfileId, .EventId {
    color: #e8eaed;
    text-align: center;
    background-color: #dededee6;
    margin: 15px 300px;
    border-radius: 5px;
    padding: 30px;
}
.footerDescription {
    color: #e8eaed;
    text-align: left;
    margin: 15px 100px;
    border-radius: 5px;
    padding: 30px;
}
.footerLocation {
    color: #e8eaed;
    text-align: center;
    margin: 15px 300px;
    border-radius: 5px;
    padding: 30px;
}
.location {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #8ab4f8;
    font-weight: bold;
}
.h1Add {
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
}
.h1Id {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: #8ab4f8;
    text-transform: uppercase;
}
.h3Add {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}
.countAthletes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    background-color: #424242;
}
.athletes {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #424242;
}
.joinHall, .exitHall {
    color: #424242;
    font-size: 20px;
    padding: 22px 30px;
    margin: 0 auto;
    border-radius: 5px;
    border: 0;
    color: white;
}
.exitHall:hover { background-color: red;}
.joinHall:hover {background-color: blue;}
.joinHall {background-color: #2196f3;}
.exitHall {background-color: #ff0036;}