@page "/articles/add"

<HeaderComponent />

<div class="row">
    <div class="col visualContainerArticle">
        <button class="gymList" @onclick="BackToArticlesList">Articles List</button>
        <div class="AddHall">
            <h1 class="h1Add">Размещение статьи</h1>
            <h3 class="h3Add">Здесь вы можете добавить новую статью</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col wrapperArticles">
        <AddEditArticleComponent Add="true" Edit="false"/>
    </div>
</div>