@page "/articles"

<HeaderComponent />

<div class="wrapper">
    <div class="row">
        <div class="col text-left text-light pages mb-2">
            <a href="/" class="link">WODCAT</a> &rarr; Статьи
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <h1 class="text-light" style="font-size: 30px;">Статьи</h1>
        </div>
    </div>
    <FilterArticlesComponent Articles="Articles"/>
</div>