@page "/articles"

<HeaderComponent User="User"/>

<div class="wrapper">
    @if (IsLoginUser)
    {
        <div class="row">
            <div class="col text-left text-light pages mb-2">
                <a href="/" class="link">WODCAT</a> &rarr; Статьи
            </div>
            <div class="col-6 text-right pages mb-2">
                <button class="btn text-white createArticle" @onclick="Add">Разместить статью</button>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <h1 class="text-light" style="font-size: 30px;">Статьи</h1>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col text-left text-light pages mb-2">
                <a href="/" class="link">WODCAT</a> &rarr; Статьи
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <h1 class="text-light" style="font-size: 30px;">Статьи</h1>
            </div>
        </div>
    }
    <FilterArticlesComponent Articles="Articles"/>
</div>