<div class="row">
    <div class="col-3">
        <img src="img/WodCat.png" width="200" height="100%" @onclick="Home" class="home"/>
    </div>
    
    <div class="col-9 p-4">
        @foreach (var item in Actions)
        {
            <a href="@item.Link" class="actionsContent">@item.Content</a>
            @if (value < Actions.Count - 1)
            {
                <span class="actionsContent">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                value++;
            }
        }
    </div>
</div>
