<div class="row">
    <div class="col header">
        <div class="text-right profile">
            <ProfileComponent User="User"/>
        </div>
        <div class="text-center actions">
            <ActionsComponent />
        </div>
    </div>
</div>