<div class="formAddHall mt-3 p-3">
    <div class="row">
        <div class="col pl-4">
            <h5 class="mainInfoAboutHall">Основная информация о клубе</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <select>

            </select>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>