@if (DisplayRemoveHall)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" 
         id="exampleModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="exampleModal"
         aria-hidden="true"
         style="display: block">
    
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content EditDeleteContent">
                <div class="modal-header" style="border: 0;">
                    <h5 class="modal-title" style="color: white;">Вы действительно хотите удалить: @Hall.Name?</h5>
                    <button class="close" @onclick="OnCancel" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer" style="border: 0;">
                    <button class="btn btn-danger" @onclick="Remove" type="button">Удалить</button>
                    <button class="btn btn-primary" @onclick="OnCancel" type="button">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}