<div class="row">
    <div class="col-3 p-0 pr-1">
        <select class="d-inline filterHalls pt-2 pb-2" @bind="_filterTown">
            <option value="None">Город</option>
            @foreach (var item in FilterTown)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-3 p-0 pr-1">
        <select class="d-inline filterHalls pt-2 pb-2" @bind="_filterType">
            <option value="None">Тип</option>
            @foreach (var item in FilterType)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-3 p-0 pr-1">
        <button
            type="button"
            class="btn btn-primary form-control mb-2"
            @onclick="Filter">
            Search
        </button>
    </div>
    <div class="col-3 p-0">
        <button
            type="button"
            class="btn btn-danger form-control mb-2"
            @onclick="Reset">
            Reset
        </button>
    </div>

    <ListHallsComponent ListOfItems="Halls"/>
</div>


