@if (!IsLoginUser)
    {
        <div class="row">
            <div class="col p-0">
                <h1 class="text-light" style="font-size: 30px;">Кроссфит залы и тренажерные залы с кроссфит зоной Украина 2022</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right text-muted mb-2 p-0">
                <i class="fa-solid fa-info info" @onclick="() => IsDisplay = !IsDisplay"></i>
            </div>
        </div>
        @if (IsDisplay)
        {
            <div class="row">
                <div class="col p-0 mb-3">
                    <div class="halls p-3">
                        <button class="btn hide mb-2" @onclick="() => IsDisplay = !IsDisplay">Скрыть</button>
                        <p><strong>Кроссфит зал</strong> – это специально оборудованное место для занятий Кроссфитом, которое отличается от простых тренажерных залов, просторным помещением с высокими потолками для комфортных занятий групп 10-15 человек. В большей части, кроссфит залы размещены в ангарах или старых производственных зданиях. В кроссфит залах предъявляет высокие требования к прочности бетонных перекрытий для выполнения элементов тяжелой атлетики либо тех, которые требуют специальной подготовки пола (использование помостов).</p>
                        <p>Преимуществом любого профессионального зала является наличие открытой площадки для выполнения на улице комплексов, содержащих беговые упражнения.</p>
                        <p><strong>Кроссфит залы</strong>бывают 2-х типов.<strong>Аффилированный зал</strong> - зал, в котором тренировки осуществляют сертифицированные тренера Кроссфита и имеется подтвержденное право на использование названия Кроссфит в своей деятельности.</p>
                        <p><strong>Не аффилированный зал</strong> - залы, в которых тренировки осуществляют тренера по другим видам спорта, такой зал не имеет право называться кроссфит залом.</p>
                        <p>Отличительной особенностью профессионального зала для кроссфита - это отсутствие блочных тренажеров. Основное оборудование: стойки и инвентарь для занятий с свободными весами. Из тренажеров возможно только наличие кардио тренажеров</p>
                        <p><strong>ВОДКАТ залы</strong> - это каталог спортивных залов, фитнес центров, кроссфит залов. На странице поиска вы сможете найти зал, который расположен в удобном для вас месте, оборудование которого отвечает Вашим требованиям, познакомиться с деятельностью популярных залов и присоединиться к группе спортсменов (подписаться).</p>
                    </div>
                </div>
            </div>
        }
    }