@page "/gymbox/add"

<HeaderComponent />

<div class="row">
    <div class="col visualContainer">
        <button class="gymList" @onclick="BackToGymList">Gym list</button>
        <div class="AddHall">
            <h1 class="h1Add">Добавить зал/клуб</h1>
            <h3 class="h3Add">Здесь вы можете добавить новый зал в каталог WODCAT</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col wrapperHalls">
        <AddHallComponent />
    </div>
</div>