@page "/gymbox/add"

<HeaderComponent />

<div class="row">
    <div class="col visualContainer">
        <h1>Hallo</h1>
    </div>
</div>
<div class="row">
    <div class="col wrapperHalls">
        <FilterWorkoutsComponent Workouts="Workouts"/>
    </div>
</div>