@page "/gymboxs/{HallId:int}"

<HeaderComponent />

<div class="row">
    <div class="col visualContainer">
        <div class="row">
            <div class="col" style="padding: 15px; margin: 0 250px;">
                <h1>Hallo</h1>
            </div>
        </div>
        <div class="AddHall">
            <h1 class="h1Add">Добавить зал/клуб</h1>
            <h3 class="h3Add">Здесь вы можете добавить новый зал в каталог WODCAT</h3>
        </div>
    </div>
</div>