@page "/gymboxs/{HallId:int}"

<HeaderComponent />

<div class="row">
    <div class="col visualContainer">
        <div class="row" style="margin: 0 250px;">
            <div class="col-6 text-left text-light pages p-0 mb-3">
                <a href="/" class="link">WODCAT</a> &rarr; 
                <a href="/gymboxs" class="link">Кроссфит залы</a> &rarr; @Hall.Name
            </div>
            <div class="col-6 text-right text-light pages p-0 mb-3">
                <button class="btn text-white createHall" @*@onclick="Add*@">Редактировать</button>
            </div>
        </div>
        <div class="AddHall">
            <h1 class="h1Add" style="text-transform: uppercase">Добавить зал/клуб</h1>
            <h3 class="h3Add">Здесь вы можете добавить новый зал в каталог WODCAT</h3>
        </div>
    </div>
</div>