@page "/gymbox"

<HeaderComponent />

<div class="wrapper">
    <div class="row">
        <div class="col-6 text-left text-light pages">
            <a href="/" class="link">WODCAT</a> &rarr; Кроссфит залы
        </div>
        <div class="col-6 text-right pages">
            <button class="btn text-white createHall">Создать клуб</button>
        </div>
    </div>
    <HallsInfo />
    @*//TODO: Filter, List and Individual Hall*@
</div>