<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col mb-2">
                @if (Image is not null)
                {
                    <img src="@Image" alt="" width="150" height="150"/>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col mb-2">
                <EditForm Model="@UpdateAuth" OnValidSubmit="Auth">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="row">
                        <div class="col mb-2">
                            <InputText
                                @bind-Value="UpdateAuth!.NickName"
                                class="selectedFormResult mb-2 mr-2"
                                placeholder="Ник"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <InputText
                                @bind-Value="UpdateAuth!.Email"
                                class="selectedFormResult mb-2 mr-2"
                                placeholder="E-mail"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <InputText
                                type="password"
                                @bind-Value="UpdateAuth!.Password"
                                class="selectedFormResult mb-2 mr-2"
                                placeholder="Пароль"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <InputText
                                type="password"
                                @bind-Value="UpdateAuth!.ConfirmPassword"
                                class="selectedFormResult mb-2 mr-2"
                                placeholder="Подтвердить Пароль"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>