@if (HallImage is not null)
{
    <div class="row">
        <div class="col" @onclick="() => EditUserHall(Hall.Id)">
            <img src="@HallImage" width="75" height="75"/>
            <span class="link">@Hall.Name</span>
        </div>
    </div>
}