<div class="row">
    <div class="col p-0">
        <h1 class="text-light" style="font-size: 30px;">Упражнение</h1>
    </div>
</div>
<div class="row">
    <div class="col text-right text-muted mb-2 p-0">
        <i class="fa-solid fa-info info" @onclick="() => IsDisplay = !IsDisplay"></i>
    </div>
</div>
@if (IsDisplay)
{
    <div class="row">
        <div class="col p-0 mb-3">
            <div class="exercises p-3">
                <button class="btn hide mb-2" @onclick="() => IsDisplay = !IsDisplay">Скрыть</button>
                <p><strong>Упражнение</strong> – это движение, предназначенное для развития определенных навыков атлета. В каждом виде спорта есть свой набор упражнений для совершенствования. На этой странице вы найдете самые разнообразные упражнения: для разных видов спорта, на разные группы мышц, разного уровня сложности.</p>
                <p><strong>Кроссфит упражнения или Фитнесс упражнения</strong> – помогают развить силу атлета, его выносливость или ловкость. Всё зависит от целей занятия, от этого будет зависеть из каких упражнений будет состоять тренировка. (Цель занятия будет определять упражнения, которые будут включены в тренировку.)</p>
                <p>Удобные фильтры помогут вам сортировать упражнения по модальности, сложности, движениям и сопутствующему инвентарю. Также можно отсортировать по названию и по популярности.</p>
                <p>К каждому упражнению вы можете посмотреть обучающее видео, прочитать подробное описание и увидеть схему нагрузки мышц. Это поможет вам не допустить ошибок при выполнении тренировок, так как именно от техники зависит конечный результат.</p>
            </div>
        </div>
    </div>
}