@page "/ratings"

<HeaderComponent />

<div class="wrapperId">
    <div class="row mb-2">
        <div class="col text-left text-light pages">
            <a href="/" class="link">WODCAT</a>&nbsp;&rarr;&nbsp;Таблица лидеров
        </div>
    </div>
    <div class="row mb-2">
        <div class="col text-center text-light pages">
            <h1>Рейтинги</h1>
        </div>
    </div>
    <div class="p-3" style="background-color: #424242;border-radius: 5px;">
        <FilterRatingsComponent Users="Users"/>
    </div>
</div>