@page "/ratings"

<HeaderComponent />

<div class="wrapperId">
    <div class="row mb-2">
        <div class="col text-left text-light pages">
            <a href="/" class="link">WODCAT</a>&nbsp;&rarr;&nbsp;Leaderboard
        </div>
    </div>
    <div class="row mb-2">
        <div class="col text-center text-light pages">
            <h1>Рейтинги</h1>
        </div>
    </div>
    <FilterRatingsComponent />
</div>