@page "/login"

<HeaderComponent />

<div class="newWrapper">
    <div class="row">
        <div class="col loginContainer">
            <div class="login">
                <h1 style="color: white; font-size: 35px;">Войти</h1>
                @if (IsFallLogin)
                {
                    <div class="row">
                        <div class="col mb-2">
                            <div class="text-danger">Incorrect email or password.</div>
                        </div>
                    </div>
                }
                <EditForm Model="@LoginModel" OnValidSubmit="@Login">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <InputText
                        id="email"
                        @bind-Value="LoginModel.Email"
                        class="mb-3 formLogin"
                        placeholder="E-mail"/>
                    <InputText
                        id="password"
                        type="password"
                        @bind-Value="LoginModel.Password"
                        class="mb-3 formLogin"
                        style="width: 100%; height: 40px; padding-left: 20px;"
                        placeholder="Пароль"/>

                    <button class="mb-2 authButton" type="submit">Войти</button>

                </EditForm>
                <p style="color: #bdc1c6;">Еще нет аккаунта? &nbsp;
                    <a href="/register" class="mainLink">Регистрация</a>
                </p>
            </div>
        </div>
    </div>
</div>