@page "/register"

<HeaderComponent />

<div class="newWrapper">
    <div class="row">
        <div class="col loginContainer">
            <div class="login">
                <h1 style="color: white; font-size: 35px;">Регистрация</h1>
                @if (!IsNext)
                {
                    <EditForm Model="@_mainRegister" OnSubmit="@MainRegister"> <br/>
                        <InputText
                            id="nickname"
                            @bind-Value="_mainRegister.NickName"
                            class="mb-3 formLogin"
                            placeholder="Ник"/><br/>
                        <InputText
                            id="email"
                            @bind-Value="_mainRegister.Email"
                            class="mb-3 formLogin"
                            placeholder="E-mail"/><br/>
                        <InputText
                            id="password"
                            type="password"
                            @bind-Value="_mainRegister.Password"
                            class="mb-3 formLogin"
                            style="width: 100%; height: 40px; padding-left: 20px;"
                            placeholder="Пароль"/><br/>
                        <InputText
                            id="confirmPassword"
                            type="password"
                            @bind-Value="_mainRegister.ConfirmPassword"
                            class="mb-3 formLogin"
                            style="width: 100%; height: 40px; padding-left: 20px;"
                            placeholder="Подтвердить Пароль"/><br/>

                        <button class="mb-2 authButton" type="submit">Регистрация</button>

                    </EditForm>
                }
                else
                {
                    <EditForm Model="@_mainRegister" OnSubmit="@Register"> <br/>
                        <InputText
                            id="name"
                            @bind-Value="_mainRegister.Name"
                            class="mb-3 formLogin"
                            placeholder="Имя"/><br/>
                        <InputText
                            id="surname"
                            @bind-Value="_mainRegister.Surname"
                            class="mb-3 formLogin"
                            placeholder="Фимилия"/><br/>
                        <InputDate
                            id="birthday"
                            @bind-Value="_mainRegister.Birthday"
                            class="mb-3 formLogin"
                            placeholder="Birthday"/><br/>
                        
                        <button class="mb-2 authButton" type="submit">Регистрация</button>

                    </EditForm>
                }
                <p style="color: #bdc1c6;">Уже есть аккаунт? &nbsp;
                    <a href="/login" class="mainLink">Войти</a>
                </p>
            </div>
        </div>
    </div>
</div>