<div class="footerLocation">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="img/location-bg.png" width="100" height="150"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="location">Локация</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong style="color: white;">Украина, @Event!.Town</strong>
                </div>
            </div>
            @if (Event.Location is not null)
            {
                <div class="row">
                    <div class="col">
                        <span style="color: #bdc1c6;">@Event.Location</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Event.Description is not null)
{
    <div class="footerDescription">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 style="font-size: 25px;">ОПИСАНИЕ МЕРОПРИЯТИЯ:</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Event.Description
                    </div>
                </div>
            </div>
        </div>
    </div>
}