<div class="row">
    <div class="col visualContainerEvent" style="background-image: url(/@Image);">
        <div class="row m-3">
            <div class="col text-center">
                <a class="Name" href="/workouts/@Workout.Id"><span class="bold">@Workout.Name</span></a><br/>
                <span style="color: white; font-size: 1.5rem;">На время:</span><br/>
                <span style="color: white; font-size: 1.5rem;">@Workout.Time</span>
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <ListEventsWorkoutsExercisesComponent ListOfItems="WorkoutsExercises"/>
            </div>
        </div>
        @if (EventTimeUser is null)
        {
            <div class="row m-3">
                <div class="col text-center">
                    <form>
                        <input type="time" @bind-value="Time" step="2"/>
                        <button type="submit" @onclick="SubmitTime">Сохранить</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="row m-3">
                <div class="col text-center">
                    <span style="color: white; font-size: 1.5rem;">Ваше время:</span><br/>
                    <span style="color: white; font-size: 1.5rem;">
                        @EventTimeUser.Time.ToString("g")
                    </span>
                </div>
            </div>
        }
    </div>
</div>
