<div class="row">
    <div class="col">
        <h1 class="text-light" style="font-size: 30px;">Календарь кроссфит соревнований и спортивных событий Украина 2022</h1>
    </div>
</div>
<div class="row">
    <div class="col text-right text-muted mb-2">
        <i class="fa-solid fa-info info" @onclick="() => IsDisplay = !IsDisplay"></i>
    </div>
</div>
@if (IsDisplay)
{
    <div class="row">
        <div class="col mb-3">
            <div class="exercises p-3">
                <button class="btn hide mb-2" @onclick="() => IsDisplay = !IsDisplay">Скрыть</button>
                <p><strong>Спортивные соревнования</strong> - это мероприятия, проходящие для объективного выявления и оценки сильнейших спортсменов, установления рекордов в отдельно взятом виде спорта (кроссфит, тяжелая атлетика). Помимо индивидуальных соревнований, где соревнуются атлеты в индивидуальном зачете, так же бывают и командные соревнования (от 2 до 20 чел). Особенность любых соревнований является четкое определение правил и техники выполнения упражнений.</p>
                <p><strong>Кроссфит соревнования</strong> - выявление наиболее физически подготовленного человека одновременно в разнообразных физических навыках (сила, выносливость, скорость, точность). Как и все спортивные соревнования, Кроссфит соревнования (Кроссфит Игры) бывают индивидуальные и командные. Онлайн Кроссфит соревнования - это возможность участвовать в мероприятии удаленно, выполняя поставленные задачи в своем зале с подтверждением результата с помощью видео.</p>
                <p><strong>WODCAT соревнования</strong> - это полнофункциональная систему создания и управления соревнованиями. Всегда актуальные данные и расписание спортивных мероприятий как во всём мире в конкретном городе (соревнования рядом со мной). График мастер-классов, семинаров и тренингов. Поиск мероприятий, создание, управление и регистрация участников.</p>
            </div>
        </div>
    </div>
}