<div class="events m-3" style="background-image: url(/@Image);">
    <div class="row p-3">
        <div class="col">
            <strong class="text-light">@DayStartName @MonthStartName - @DayEndName @MonthEndName</strong>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <a class="Name bold mr-3" href="@Url">@Event.Name</a>
            <img src="img/Ukraine.png" style="width: 30px; height: 20px;" class="mr-2"/>
            <strong class="text-light">Украина, @Event.Town</strong>
        </div>
    </div>
</div>