<div class="row">
    @foreach (var item in ListOfItems)
    {
        <div class="col-3">
            <IndividualEventsWorkoutsExercisesComponent WorkoutsExercises="item" />
        </div>
    }
</div>