<tbody>
    <tr class="tableheader">
        <td>@Place</td>
        <td>
            @if (GenderImage is not null)
            {
                <img src="@GenderImage" width="50" height="50"/>
            }
            &nbsp;
            <a href="/profile/@User.NickName" class="link">
                @User.Name&nbsp;
                @User.Surname
            </a>
        </td>
        <td>
            @if (Time is not null)
            {
                @Time
            }
        </td>
        <td>
            @Points
        </td>
    </tr>
</tbody>