@page "/programs"

<HeaderComponent />

<div class="wrapper">
    <div class="row">
        <div class="col text-left text-light pages mb-2">
            <a href="/" class="link">WODCAT</a> &rarr; Программы тренировок
        </div>
    </div>
    <ProgramsInfo />
    <FilterProgramsComponent Programs="Programs"/>
</div>
